/*-------------------------------------------------
BODY
-------------------------------------------------*/
body{

	font:15px/1.4 Arial, sans-sherif;
	padding: 0;
	margin:0;
	background-color: #FFF;/*BLANC*/
}

/*-------------------------------------------------
GLOBAL
-------------------------------------------------*/
ul{
	margin: 0;
	padding: 0;
}

.container{
	width: 80%;	
	margin: auto;
	overflow: hidden;
}

.button_1{
	height: 38px;
	background-color: #01B0F0;
	border:0;
	color: #FFF;
	padding-right:20px; 
	padding-left:20px;
}

.dark{
	padding: 15px;
	background: #35424a;
	color:#FFF;
	margin-top: 10px;
	margin-bottom: 10px;
}

.link{
	text-decoration: none;
	color: #01B0F0;
}

.linkimportant{
	text-decoration: none;
	color: #e8491d; /*ORANGE*/
}

.bold{
	font-weight: bold;
}

/*-------------------------------------------------
HEADER
-------------------------------------------------*/
header{
	background-color: #35424a;
	color: #FFF;
	padding-top: 25px;
	min-height: 70px;
	border-bottom: solid #01B0F0 3px;
}
header a{
	color:#FFF;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 16px;
}

header li{
	float: left;
	display: inline;
	padding: 0px 20px 0px 20px;
}

header #marque{
	float: left;
}

header #marque h1{
	margin: 0;
}

header nav{
	float: right;
	margin-top: 10px;
}

header .hightlight, header a .current{
	color: #01B0F0;
	font-weight: bold;
}

header a .current:hover{
	color: #cccccc!important;
	font-weight: bold;
}

/*-------------------------------------------------
SHOWCASE
-------------------------------------------------*/

#showcase{
	min-height: 400px;
	background:url('../img/iut.jpg') no-repeat 0 -450px;
	text-align: center;
	color: #FFF;
}

#showcase h1{
	margin-top: 100px;
	font-size: 55px;
	margin-bottom: 10px;
	color: #01B0F0;
}

#showcase p{
	font-size: 20px;
}

#newsletter{
	padding: 15px;
	color: #FFF;
	background: url(../img/bg5.jpg);
}

#newsletter h1{
	float: left;
	color: #000;
}

#newsletter form{
	float: right;
	margin-top: 15px;
}

#newsletter input[type="email"]{
	padding: 4px;
	height: 25px;
	width: 250px;
	margin-right: 15px;
}

/*-------------------------------------------------
BOXES
-------------------------------------------------*/

#boxes{
	margin-top: 20px;
}

#boxes .box{
	float:left;
	width: 30%;
	padding: 10px;
	text-align: center;
}

#boxes .box img{
	width: 90px;
	border-radius: 20px;
}
#boxes h1{
	text-transform: uppercase;
	font-size: 20px;
	color: #01B0F0;
	text-align: center;
}


/*-------------------------------------------------
MAIN
-------------------------------------------------*/

aside#sidebar{
	float: right;
	width: 30%; 
	margin-top: 10px;
}

aside#sidebar .quote input, aside#sidebar .quote textarea{
	width: 90%;
	padding:5px;
	overflow: scroll;
	margin-bottom: 10px;
}

aside#sidebar h3{
	text-transform: uppercase;
	font-size: 25px;
	text-align: right;
	color:#FFEB3B;
}

aside#sidebar img{
	width: 100%;
    padding-top: 120px;
}

article#main-col{
	float: left;
	width: 60%;
}

article#main-col h1{
	font-size: 25px;
	color: #01B0F0;
	text-transform: uppercase;
}

article#main-col h3{
	text-transform: uppercase;
}

article h1{
	font-size: 25px;
	color: #01B0F0;
	text-transform: uppercase;
}

article#main-article h1.page-title{
	font-size: 25px;
	color: #01B0F0;
	text-transform: uppercase;
	text-align: center;
}

article#main-article h3{
	color: #01B0F0;
	text-transform: uppercase;
	text-align: right;
	font-family: 'Rokkitt'; font-size:21px; color:#0f0f0f; font-weight:normal;
}

ul#services li{
	list-style: none;
	padding: 20px;
	border:#ccc solid 1px;
	margin-bottom: 10px;
	background: url(../img/bg5.jpg);
	border-radius: 4px;
	border-bottom: solid #01B0F0 3px;
}



/*-------------------------------------------------
FOOTER 
-------------------------------------------------*/
footer .footer-wrap{ 
	background-color: #35424a; 
	overflow:hidden; 
	padding-bottom:35px; 
	padding-top:30px; 
	margin-top:40px;
}
footer .footer{ 
	width:80%; 
	margin:auto;
}
footer .footer div#align{ 
	display:inline; 
	float:left;
}
footer .footer div.left{ 
	float:left; 
	width:70%;
}
footer .footer div.right{ 
	float: right; 
	margin-top: 45px;
}
footer .footer div.right img{ 
	margin-right: 20px;
}
footer .footer div#align h2{
	color: #01B0F0;
}
footer .footer div#align p{
	color: #FFF;
}


.footer-distributed{
	background-color: #35424a;
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
	padding: 55px 50px;
	margin-top: 80px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
	width: 40%;
}

/* LOGO */

.footer-distributed span.hightlight{
	color: #01B0F0;
    font-weight: bold;
	margin: 0;
}

.footer-distributed h3{
	color: #FFF;
    font-weight: bold;
	margin: 0;
}
/* links */

.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
	width: 35%;
}

.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  #5383d3;
	text-decoration: none;;
}


/* Footer Right */

.footer-distributed .footer-right{
	width: 20%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons{
	margin-top: 25px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}

/*-------------------------------------------------
MEDIA QUERIES
-------------------------------------------------*/
@media(max-width: 768px)
{
	header #marque,
	header nav,
	header nav li,
	#newsletter form,
	#boxes .box,
	article#main-col,
	aside#sidebar,
	footer .footer div#align,
	footer .footer div.left,
	footer .footer div.right
	{
		float:none;
		text-align: center;
		width: 100%;
	}
	header
	{
		padding-bottom: 20px;
	}
	#showcase h1
	{
		margin-top: 40px;

	}
	.button_1, .quote button
	{
		margin-top: 10px;
		display: block;
		width: 100%
	}
	#newsletter form input[type="email"], aside#sidebar form.quote
	{
		width: 100%;
	}
	.footer-distributed{
		font: bold 14px sans-serif;
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}
}
